body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
  padding-block: 120px;
}

/* #region header */
header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1158px;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.main-header {
  display: flex;
  align-items: center;
}

.icon-nav-style {
  color: #2e2f42;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  display: block;
}

.nav-link-header:hover,
.nav-link-header:focus {
  color: #404bbf;
}

.icon-link {
  padding: 24px 0;
  margin-right: 76px;
}

.icon-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.contact-block {
  font-style: normal;
  margin-left: auto;
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* #endregion header */
/* #region section-title */
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2e2f42;
  padding: 188px 0 188px 0; 
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

button {
  justify-content: center;
  cursor: pointer;
  padding-block: 16px;
  padding-inline: 32px;
  background: #4d5ae5;
}

.order-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* #endregion section-title */
/* #region section-strategy */
.section-strategy {
  background-color: #fff; /* белый фон для секции */
  padding-bottom: 120px;
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-strategy ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.section-strategy li {
  width: calc((100% - 72px) / 4);
  text-align: left;
}

.section-strategy p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-block-item {
  width: calc((100% - 72px) / 4);
  text-align: left;
}
/* #endregion section-strategy */
/* #region section-fotos */
.section-fotos {
  background-color: #f4f4fd; /* фон для секции */
  padding-top: 120px;
  padding-bottom: 120px;
}

.our_team {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-fotos ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-fotos li {
  text-align: center;
  width: calc((100% - 72px) / 4);
}

.section ul li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section ul li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-fotos img {
  display: block;
  margin: 0 auto;
}

.foto-li {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.foto-li img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mark-guerrero {
  color: #2e2f42;
}

.daniel-wilson {
  margin-right: 156px;
}

.foto-info {
  padding: 32px 0;
}

.foto-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.foto-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* #endregion section-fotos */

/* #region portfolio */
.portfolio-section {
  background-color: #fff;
}

.portfolio-title {
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-item {
  text-align: left;
  width: calc((100% - 48px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-role {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-description {
  font-size: 14px;
  color: #555;
}
/* #endregion portfolio */
/* #region footer */
.footer-logo-cont {
  background-color: #2e2f42;
  padding: 100px 0; /*додав у футері*/
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.icon-nav-footer {
  color: #f4f4fd;
}

.footer-logo-cont .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.footer-logo-cont .container>div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
/* #endregion footer */
